<form action="#">
  <p>
    <label for="url">Url</label>
    <br />
    <input name="url" id="url" type="text" style="width: 600px" />
  </p>

  <p>
    <label for="type">Type</label>
    <br />
    <input name="type" id="type" type="text" style="width: 600px" />
  </p>

  <p>
    <label for="body">Body</label>
    <br />
    <textarea name="body" id="body" cols="100" rows="20"></textarea>
  </p>

  <input id="derp" type="submit" value="Post" />
</form>

<br />
<br />

<b id="status"></b>
<pre id="results"></pre>
